<h1>Contactos</h1>
<h3><p>Esparce tus ideas...</p></h3>
<br><br>
<div class='container'>
<form class="form-inline" role="form">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">O </div>
      <input class="form-control" type="email" placeholder="usuario">
    </div>
  </div>
  <br>
  <br>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">@</div>
      <input class="form-control" type="email" placeholder="Enter email">
    </div>
  </div>
  <br>
  <br>
 <textarea class="form-control" rows="3"  placeholder="Comentario"></textarea>
 <br>
 <br>
 <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>