<div class="container">
    <div class="row" draggable="true">
<h1>Edición</h1>
<br />

<%= render 'form' %>
<br />

<%= link_to 'Mostrar', @contacto %> |
<%= link_to 'Atras', contactos_path %>
</div>
</div>