<!DOCTYPE html>
<html lang="es">
<head>
  <title>nosotros</title>
  <meta charset="utf-8">
  
  <%= stylesheet_link_tag  "nosotros", :media=>"all"%>
  <%= javascript_include_tag"jquery-1.4.2.js" %>
  <script type="text/javascript" src="javascripts/jquery.nivo.slider.pack.js"></script> 
  <script type="text/javascript" src="javascripts/cufon-yui.js"></script>
  <script type="text/javascript" src="javascripts/cufon-replace.js"></script>  
  		<script type="text/javascript" src="javascripts/CabinSketch_700.font.js"></script>
  		
 

</head>

<body >
		<div class="main">
			
			<header >
				<h1><img src ="images/logo_SMILES4US.jpg" alt="logo" ></h1>
			</header>
			
			<section id="content">
				<div class="wrapper">
				<article class="col1">
					<h2>NOSOTROS</h2>
					<div class="pad_left1 pad_bot1">
						<div id="slider">
							<div id="for_img">
								<div id="nivo_slider">
									<img src="images/1.jpg" alt="">	
									<img src="images/2.jpg" alt="">	
									<img src="images/3.jpg" alt="">	
									
								</div>
							</div>
						</div>
						<div class="wrapper">
							<p><strong>SMILES4US</strong> Es una comunidad que dar a conocer el talento en los diseños de los usuarios a través de la compartición de imágenes subidas desde el computador de escritorio, celulares inteligentes y tabletas.</p>
 
							<p>Estableciendo un sitio web en el cual puedan participar personas que comparten similares intereses para que puedan establecer una relación entre sí, mediante la exhibición de sus trabajos creativos.
							El alcance del proyecto es crear una red social basada en gestión de portafolio electrónico para diseñadores gráficos, diseñadores web y afines.</p>
							 
							<p>Se espera que los usuarios encuentren agradable tanto la interfaz como la funcionalidad y más que nada útil haciendo más frecuente el uso de esta página para sus intereses comunes.</p>
						</div>
					</div>
					

		</div>
<script type="text/javascript"> Cufon.now(); </script>
<script type="text/javascript">
   $(window).load(function() {
   $('#nivo_slider').nivoSlider({
        effect:'fold', //Specify sets like: 'fold,fade,sliceDown, sliceDownLeft, sliceUp, sliceUpLeft, sliceUpDown, sliceUpDownLeft' 
        slices:7,
        animSpeed:500,
        pauseTime:6000,
        startSlide:0, //Set starting Slide (0 index)
        directionNav:true, //Next & Prev
        directionNavHide:false, //Only show on hover
        controlNav:true, //1,2,3...
        controlNavThumbs:false, //Use thumbnails for Control Nav
        controlNavThumbsFromRel:false, //Use image rel for thumbs
        controlNavThumbsSearch: '.jpg', //Replace this with...
        controlNavThumbsReplace: '_thumb.jpg', //...this in thumb Image src
        keyboardNav:true, //Use left & right arrows
        pauseOnHover:true, //Stop animation while hovering
        manualAdvance:false, //Force manual transitions
        captionOpacity:1, //Universal caption opacity
       
       
    });
});
</script>
</body>
</html>
