<div class="container">

	<div class="row">
		<div class="col-xs-12 col-md-2">
			<ul class="nav nav-pills nav-stacked">

				<li>
					<div class="media">
						<a class="pull-left" href="#"> <img class="media-object" src="smile.png" alt="foto de perfil" width="80"> </a>
						<div class="media-body">
							<div class="media-heading">
								<a href="#">Mi perfil</a>
							</div>
							<a href="#"><span class="glyphicon glyphicon-pencil"> </span>Editar</a>
						</div>
					</div>
				</li>

				<li class="active">
					<a href="#"><span class="glyphicon glyphicon-bullhorn"> </span> Notificaciones <span class="badge pull-right">42</span></a>
				</li>
				<li>
					<a href="#"><span class="glyphicon glyphicon-folder-open"> </span> Mi galería</a>
				</li>
				<li>
					<a href="#"><span class="glyphicon glyphicon-star"> </span> Favoritos</a>
				</li>
				<li>
					<a href="#"><span class="glyphicon glyphicon-eye-open"> </span> Populares</a>
				</li>

				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#"> <span class="glyphicon glyphicon-th-large"> </span> Categorías<span class="caret"></span> </a>
					<ul class="dropdown-menu" role="menu">

						<li>
							<a href="#">Ilustraciones</a>
						</li>
						<li>
							<a href="#">Dibujo artístico</a>
						</li>
						<li>
							<a href="#">Fotografía</a>
						</li>
						<li>
							<a href="#">Comics</a>
						</li>
					</ul>
				</li>

			</ul>

		</div>
	</div>
	

</div>
  