
</br>

<div class="row">
	
	 
  <div class="col-xs-12 col-md-2">
  	
  	<%= render partial: "menu" %>
  	
  </div>
  <div class="col-xs-12 col-sm-12 col-md-9">
  	
	<h1>Listado de posts</h1>

	
<ul class='thumbnail' id='posts'  >
	<div class="row" draggable="true">
		<% @posts.each do |post| %>

		<div id='post'>
			
			<div class="col-xs-12 col-sm-4" >
				
			<li  class='span4'>
				
					<div class='thumbnail'>

						<% if post.has_photo? %>
						<%= image_tag post.photo_path %>
						<% end %>
						<div class='caption'>
							<h3><%= link_to post.titulo, post %></h3>
							<button type="button" class="btn btn-default btn-lg">
								<span class="glyphicon glyphicon-heart-empty"></span> Me gusta
							</button>
							<button type="button" class="btn btn-default btn-lg">
								<span class="glyphicon glyphicon-pencil"></span> Comentarios
							</button>
						</div>
					</div>
			</li>
		</div>

		<% end %>
		</ul>
		<a class="btn btn-default" href="/posts/new" role="button"><span class="glyphicon glyphicon-upload" > </span> Nuevo post</a>
	</div>

	</br>

	
</div>
</div>
  	
  
  

</div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

