
<div class="intro-header">

    <div class="container">

      <div class="row">
        <div class="col-lg-12">
        
          <div class="intro-message" id="headerTitle">
            
            <h1>Smiles 4 Us</h1>
            <h3>Comparte tus trabajos con colegas.. :)</h3><i class="icon-search icon-large icon-white"></i>
            <hr class="intro-divider">
            <ul class="list-inline intro-social-buttons" >


              <li >
                <a  class="btn btn-primary btn-lg" href="usuarios/new" class="btn btn-default btn-lg">
                  
                  <span  >Únete </span>
                </a>
              </li>
              <li>
              	<a  class="btn btn-success btn-lg" href="sessions/new" class="btn btn-default btn-lg">
                 
                 
                  <span >Inicia Sesión</span>
                </a>
                
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  

  </div>
 

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="list-inline">
            <li>
              <a href="index.html">Inicio</a>
            </li>
            <li class="footer-menu-divider"></li>
            <li>
              <a href="#about">Nosotros</a>
            </li>
            <li class="footer-menu-divider"></li>

            <li>
              <a href="#contact">Contactos</a>
            </li>
          </ul>
          <p class="copyright text-muted small">Copyright © Smiles4Us</p>
        </div>
      </div>
    </div>
  </footer>

  