
<div class="intro-header">

    <div class="container">

      <div class="row">
        <div class="col-lg-12">
        
          <div class="intro-message" id="headerTitle">
            
            <h1>Smiles 4 Us</h1>
            <h3>Comparte tus trabajos con colegas.. :)</h3><i class="icon-search icon-large icon-white"></i>
            <hr class="intro-divider">
            <ul class="list-inline intro-social-buttons" >

<%= link_to "Open modal", new_post_path, :class => "btn", :remote => true, "data-toggle" => "modal", "data-target" => "my-modal" %>
<div class="modal hide fade" id="my-modal" title="My modal">
  <div class="modal-header">
    <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
    <h3 id="myModalLabel">New Post</h3>
  </div>
  <div class="modal-body a-unique-class">
    New Post Body
  </div>
  <div class="modal-footer">
    <button aria-hidden="true" class="btn" data-dismiss="modal">Close</button>
  </div>
</div>




              <li >
                <a  class="btn btn-primary btn-lg" href="usuarios/new" class="btn btn-default btn-lg">
                  
                  <span  >Únete </span>
                </a>
              </li>
              <li>
              	<a  class="btn btn-default btn-lg" href="sessions/new"  id="boton-sesion">
                 
                 
                  <span >Inicia Sesión</span>
                </a>
                
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  

  </div>
 

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="list-inline">
            <li>
              <a href="index.html">Inicio</a>
            </li>
            <li class="footer-menu-divider"></li>
            <li>
              <a href="#about">Nosotros</a>
            </li>
            <li class="footer-menu-divider"></li>

            <li>
              <a href="#contact">Contactos</a>
            </li>
          </ul>
          <p class="copyright text-muted small">Copyright © Smiles4Us</p>
        </div>
      </div>
    </div>
  </footer>

  