	<div class="row">
		<div class="col-xs-12 col-md-2">

			<%= render "/posts/menu" %>

		</div>
		<section>
		<p align="center">Favoritos</p>
			<div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail">
			  <img src="/photo_store/2.jpg" alt"..." />
			</a>
			</div>
			<div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail">
			  <img src="/photo_store/2.jpg" alt"..." />
			</a>
			</div>
			<div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail">
			  <img src="/photo_store/2.jpg" alt"..." />
			</a>
			</div>
		</section>
	</div>