<!DOCTYPE html>
<html lang="es">
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link  href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet">
    <title>Inicio de Sesión - Smiles4Us</title>
  </head>
	<body id="bg1">
		 		<div id="contenido">
					<header>
						<hgroup>
							<h1 align="center">SMILES4US</h1>
						</hgroup>
					</header>
					<section>
						<div id='sesion'>
							<form class="form-signin" role="form">
						        <h2 class="form-signin-heading" align="center">Iniciar Sesi&oacute;n</h2>
						        <input class="form-control" type="text" autofocus="" required="" placeholder="Nombre de Usuario"></input>
						        <input class="form-control" type="password" required="" placeholder="Contrase&ntilde;a"></input>
						        <label class="checkbox">
						        	<input type="checkbox" value="remember-me"></input>
						        	Recordarme
						    	</label>
						        <button id="login" class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
						    </form>
						</div>
					</section>
				</div>
				<footer id="foot">
					<nav align="center">
						<ul>
							<li><a href="https://www.twitter.com/ronnysuko">About Us</a></li>
							<li><a href="https://www.twitter.com/ronnysuko">Support</a></li>
							<li><a href="https://www.twitter.com/ronnysuko">Blog</a></li>
							<li><a href="https://www.twitter.com/ronnysuko">Privacy</a></li>
							<li><a href="https://www.twitter.com/ronnysuko">Terms</a></li>
							<li>&#169; 2014 Smiles4Us</li>
						</ul>
					</nav>
				</footer>		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    	<script src="js/bootstrap.min.js"></script>
	</body>
</html>